/* =======================================================================
[ ALERT CUSTOMER ACCOUNTS ]
======================================================================== */
.alert-container{
	margin-top: 30px;
}


/* =========================================
[ HOMEPAGE ]
=========================================== */
.home-first-fold-container{
	background-image: url('../img/background-first-fold.jpg');
	background-size: cover;
	background-position: 100%;
	font-family: 'Montserrat Light';

	.first-fold-contents{
		background-color: #fff;
		padding: 30px;
		margin: 70px 0px 120px 0px;
		box-shadow: 0px 0px 3px 1px #bebab5;
		text-transform: uppercase;

		h1{
			font-size: 31px;

			span{
				font-family: 'Montserrat Bold';
				color: #496d37;
			}
		}

		.first-fold-mid{
			font-size: 17px;
			
			span{
				font-family: 'Montserrat Bold';
				color: #d55a0f;
			}
		}

		.firts-fold-fields{
			font-size: 15px;

			span{
				font-family: 'Montserrat Bold';
			}
		}

		.first-fold-input{
			position: relative;

			input{
				color: #452e19;
				border-radius: 0;
				font-size: 12px;
				padding-right: 30px;

			}
			i{
				position: absolute;
				top: 10px;
				right: 10px;
			}
		}
	}
}

.homepage-body{
	background-color: #fff;
	margin: 30px 0px 15px 0px;
	padding: 15px 0px;

	.homepage-top-adverts{
		margin: 15px;
		border: 1px solid #000;
		height: 85px;
	}

	.featured-grid{

		.featured-dogs{
			padding: 10px 0px;
			overflow: hidden;

			a{
				padding: 0;
				color: #333;
			}
			
			.popover{
			    max-width: 200px;
			    width: 200px; 
			    border-radius: 0;
			}

			.homepage-featured{
				height: 200px;
				width: 25%;
				margin: 0;
				padding: 0;
				float: left;
				padding: 1px;
			}
		}

		a{
			font-family: 'Montserrat Semi';
			font-size: 14px;
			
			padding: 5px;
		}
	}
}


.dog-fold-container{
	margin: 15px 0px;
	background-color: #fff;
	
	.home-dog-fold{
		position: relative;

		img{
			position: absolute;
			height: 100%;
		}

		.dog-fold-contents{
			padding: 15px 15px 15px 0px;

			span{
				font-family: 'Montserrat Semi';
				font-size: 17px;
			}

			p{
				font-family: 'Montserrat Light';
				font-size: 14px;
				padding: 5px 0px;
			}


		}
	}
}

.home-contents-container{
	background-color: #fff;
	margin: 15px 0px 30px 0px;
	padding: 15px;
	font-family: 'Montserrat Light';
	font-size: 14px;

	span{
		font-family: 'Montserrat Semi';
		font-size: 17px;
	}

	p{
		padding: 5px 0px;
	}

	img{
		height: auto;
		width: 100%;
	}
}

/* =========================================
[ DEFAULT PAGES ]
=========================================== */
.pages-container{

	.textbox{
		width: 100%;
		padding: 5px 10px;
		border: 1px solid #c7c7c7;
	}

	.btn-success{
		color: #fff;
		background-color: #496d37;
		border-radius: 0;

		&:hover{
			background-color: #3b582c;
		}
	}

	.header-container{
		background-image: url('../img/page-header.jpg');
		background-size: cover;
		background-position: 75% 100%;

		.pages-header{
			h1{
				font-family: 'Montserrat Semi';
				font-size: 21px;
				color: #fff;
				text-transform: uppercase;
				padding: 55px 0px;
			}
		}
	}

	.pages-body{
		margin: 30px 0px;
		padding: 20px;
		background-color: #fff;
		font-family: 'Montserrat Light';
	}

	.pages-body-lost{
		margin-bottom: 30px;
		padding: 20px;
		background-color: #fff;
		font-family: 'Montserrat Light';
	}
}

/* =================================================
[ STUD DOGS - PUPPIES - MEMORIAL - LISTINGS - PAGE ]
================================================= */
.page-listing-container{

	.header-container{
		background-image: url('../img/grid-background.jpg');
		background-size: cover;
		background-position: 65% 100%;
		font-family: 'Montserrat Light';
		font-size: 13px;

		.page-listing-header{
			margin: 0px 15px;

			h1{
				font-family: 'Montserrat Semi';
				font-size: 16px;
				color: #fff;
				text-transform: uppercase;
				padding: 0px 0px;
			}

			input{
				width: 170px;
				padding: 7px 10px;
			}

			select{
				width: 160px;
				padding: 8px 10px;
			}

			button{
				background-color: #395928;
			    border: 1px solid #578640;
			    padding: 10px 15px;
			    color: #fff;
			}
		}

		.checkbox{
			margin: 15px 15px;	

			label{
				color: #fff;
			}
		}
	}

	.page-listing-body-container{
		background-color: #fff;
		margin: 30px 15px;
		padding: 30px 15px 30px 15px;
		
		h4{
			color: #000;
			font-family: 'Montserrat Semi';
		}

		button{
			border-radius: 0;
		}
		
		a{
			border-radius: 0;
			color: #333;
		}

		.btn-success{
			color: #fff;
			background-color: #496d37;

			&:hover{
				background-color: #3b582c;
			}
		}

		.date-memorial{
			text-align: center;

			label{
				padding-right: 10px;
				cursor: pointer;
			}

			input{
				border: 1px solid #cecece;
				border-radius: 0;
			}
		}

		.page-listing-body{
			font-family: 'Montserrat Light';
	
			select{
				border: 1px solid #c7c7c7;
				
				padding: 5px 10px;
			}

			.listing-background{
				background-position: top;
				background-size: cover;
				height: 350px;
			}

		}
	}

}

/* =========================================
[ CONTACT US PAGE ]
=========================================== */
.contactus-container{

	.header-container{
		background-image: url('../img/contact-us-banner.jpg');
		background-size: cover;
		background-position: 75% 100%;

		.contactus-header{
			h1{
				font-family: 'Montserrat Semi';
				font-size: 21px;
				color: #fff;
				text-transform: uppercase;
				padding: 55px 0px;
			}
		}
	}

	.contactus-body-container{
		background-color: #fff;
		margin: 30px 15px;
		padding: 30px 15px 80px 15px;

		.contactus-body{
			position: relative;
			font-family: 'Montserrat Light';

			img{
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 1;
				height: auto;
				width: 250px;
			}

			.form-group{
				font-size: 14px;

				input{
					border-radius: 0;
					margin: 10px 0px;
				}
				textarea{
					border-radius: 0;
					margin: 10px 0px;
				}
				button{
					font-size: 13px;
					color: #fff;
					border-radius: 0;
					border: 1px solid #578640;
					background-color:#395928;
					padding: 10px 15px;
				}
			}
		}
	}
}


/* =========================================
[ PLAN AND PACKAGE TEMPLATE ]
=========================================== */
.plan-container{

	.header-container{
		background-image: url('../img/plans-and-packages.jpg');
		background-size: cover;
		background-position: 75% 100%;

		.plan-header{
			h1{
				font-family: 'Montserrat Semi';
				font-size: 21px;
				color: #fff;
				text-transform: uppercase;
				padding: 55px 0px;
			}
		}
	}

	.plan-body{
		margin: 30px 0px 60px 0px;
		padding: 15px 15px 30px 15px;
		background-color: #fff;
		font-family: 'Montserrat Light';

		.basic-container{
			.image-basic{
				position: relative;
				height: 120px;
				margin-top: 30px;
				width: 100%;

				img{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin:auto;

				}
			}
			.plan-basic{
				background-color: #7d7f7c;
				padding: 10px 0px;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				border-top: 1px solid #fff;
   				border-bottom: 1px groove #fff;
				p{
					font-size: 13px;
					text-align: center;
					color: #fff;
				}
			}
			.price-basic{
				background-color: #949694;
				padding: 50px 0px;
				p{
					font-family: 'Montserrat Semi';
					font-size: 20px;
					text-align: center;
					color: #fff;
				}
			}
			.bottom-basic{
				font-size: 13px;
				padding: 15px 0px;
				border: 1px solid #d7d6d4;
				border-top: 0;
				background-color: #f4f3ed;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				p{
					text-align: center;
				}
				i{
					color: #858585;
					
					&:hover{
						cursor: pointer;
					}
				}
				button{
					margin-top: 130px;
					background-color: #9d9d9d;
					font-size: 12px;
					color: #fff;
					padding: 10px 20px;
					border-radius: 5px;
				}

				.button-disabled{
					background-color: #d3d3d3;
					color: #000;
				}
			}
		}

		.personal-container{
			.image-personal{
				position: relative;
				height: 120px;
				margin-top: 30px;
				width: 100%;

				img{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin:auto;

				}
			}
			.plan-personal{
				background-color: #4c1011;
				padding: 10px 0px;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				border-top: 1px solid #fff;
   				border-bottom: 1px groove #fff;
				p{
					font-size: 13px;
					text-align: center;
					color: #fff;
				}
			}
			.price-personal{
				background-color: #611515;
				padding: 50px 0px;
				p{
					font-family: 'Montserrat Semi';
					font-size: 20px;
					text-align: center;
					color: #fff;
				}
			}
			.bottom-personal{
				font-size: 13px;
				padding: 15px 0px;
				border: 1px solid #d7d6d4;
				border-top: 0;
				background-color: #f4f3ed;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				p{
					text-align: center;
				}
				i{
					color: #858585;

					&:hover{
						cursor: pointer;
					}
				}
				button{
					margin-top: 190px;
					background-color: #5b1414;
					font-size: 12px;
					color: #fff;
					padding: 10px 20px;
					border-radius: 5px;
				}

				.button-disabled{
					background-color: #d3d3d3;
					color: #000;
				}
			}
		}

		.business-container{
			.image-business{
				position: relative;
				height: 120px;
				margin-top: 30px;
				width: 100%;

				img{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin:auto;

				}
			}
			.plan-business{
				background-color: #033f7b;
				padding: 10px 0px;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				border-top: 1px solid #fff;
   				border-bottom: 1px groove #fff;
				p{
					font-size: 13px;
					text-align: center;
					color: #fff;
				}
			}
			.price-business{
				background-color: #024589;
				padding: 50px 0px;
				p{
					font-family: 'Montserrat Semi';
					font-size: 20px;
					text-align: center;
					color: #fff;
				}
			}
			.bottom-business{
				font-size: 13px;
				padding: 15px 0px;
				border: 1px solid #d7d6d4;
				border-top: 0;
				background-color: #f4f3ed;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				p{
					text-align: center;
				}
				i{
					color: #858585;

					&:hover{
						cursor: pointer;
					}
				}
				button{
					margin-top: 130px;
					background-color: #023a74;
					font-size: 12px;
					color: #fff;
					padding: 10px 20px;
					border-radius: 5px;
				}

				.button-disabled{
					background-color: #d3d3d3;
					color: #000;
				}
			}
		}
		
		.ultimate-container{
			.image-ultimate{
				position: relative;
				height: 120px;
				margin-top: 30px;
				width: 100%;

				img{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin:auto;

				}
			}
			.plan-ultimate{
				background-color: #448c35;
				padding: 10px 0px;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				border-top: 1px solid #fff;
   				border-bottom: 1px groove #fff;
				p{
					font-size: 13px;
					text-align: center;
					color: #fff;
				}
			}

			.price-ultimate{
				background-color: #71c03a;
				padding: 50px 0px;
				p{
					font-family: 'Montserrat Semi';
					font-size: 20px;
					text-align: center;
					color: #fff;
				}
			}

			.bottom-ultimate{
				font-size: 13px;
				padding: 15px 0px;
				border: 1px solid #d7d6d4;
				border-top: 0;
				background-color: #f4f3ed;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				p{
					text-align: center;
				}
				i{
					color: #858585;

					&:hover{
						cursor: pointer;
					}
				}
				button{
					margin-top: 90px;
					background-color: #469036;
					font-size: 12px;
					color: #fff;
					padding: 10px 20px;
					border-radius: 5px;
				}
				.button-disabled{
					background-color: #d3d3d3;
					color: #000;
				}
			}
		}

		.top-col{
			font-size: 13px;
			padding: 30px 0px 15px 0px;
			border: 1px solid #d7d6d4;
			background-color: #f4f3ed;
			p{
				text-align: center;
			}
		}
		.cols{
			font-size: 13px;
			padding: 15px 0px;
			border: 1px solid #d7d6d4;
			border-top: 0;
			background-color: #f4f3ed;
			p{
				text-align: center;
			}
			i{
				color: #858585;
				
				&:hover{
						cursor: pointer;
					}
			}
		}
	}

}

/* =========================================
[ JOIN BREED YOUR DOG TEMPLATE ]
=========================================== */
.join-container{
	.header-container{
		background-image: url('../img/join-breed-your-dog.jpg');
		background-size: cover;
		background-position: 75% 100%;

		.join-header{
			h1{
				font-family: 'Montserrat Semi';
				font-size: 21px;
				color: #fff;
				text-transform: uppercase;
				padding: 55px 0px;
			}
		}
	}

	.join-body{
		margin: 30px 0px;
		padding: 15px;
		background-color: #fff;
		color: #000000;
		font-family: 'Montserrat Light';
		font-size: 14px;
		position: relative;
		
		input{
			margin: 15px 0px;
			border-radius: 0;
		}

		select{
			margin: 15px 0px;
			border-radius: 0;
		}

		button{
			margin: 10px 0px;
		    font-size: 13px;
			color: #fff;
			border-radius: 0;
			border: 1px solid #578640;
			background-color: #395928;
			padding: 10px 15px;
		}

		.dog-join{
			position: absolute;
			right: 0;
			bottom: 0;
		}

		.newsletter{
			padding-top: 10px;
			
			label{
				&:hover{
					cursor: pointer;
				}
			}

		}
	}

}



/* =======================================================================
[ DASHBOARD CUSTOMER ACCOUNTS ]
======================================================================== */

.body-container{
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	font-family: 'Montserrat Light';

	h1{
		font-family: 'Montserrat Semi';
    	font-size: 31px;
	}

	a{
		text-decoration: none;
		border-radius: 0;

		&:hover{
			text-decoration: none;
		}
	}
	
	label{
		font-weight: 500;

		&:hover{
			cursor:pointer;
		}
	}

	button{
		border-radius: 0;
	}

	.input-default{
		width: 100%;
		padding: 5px 10px;
	}
	
	.datepicker{
		width: 100%;
		padding: 5px 10px;
		border-radius: 0;
	}
	
	.datepicker-not-fullwidth{
		width: auto !important;
	}


	.input-group-addon{
		border-radius: 0;
	}
	
	.button-default{
		padding: 5px 10px;
		background-color: #fff;
		border:1px solid #d4d4d4;
		text-decoration: none;
		display: inline-block;

		&:hover{
			text-decoration: none;
			background-color:#496d37;
			color:#fff;
		}
	}

	.button-default-white{
		padding: 5px 10px;
	    background-color: #fff;
	    border: 1px solid #d4d4d4;
	    text-decoration: none;
	    display: inline-block;

	    &:hover{
	    	text-decoration: none;
    		background-color: #496d37;
   			color: #fff;
	    }
	}
	
	.btn-success{
		color: #fff;
		background-color: #496d37;

		&:hover{
			background-color: #3b582c;
		}
	}

	.dashboard-buttons{
		position: relative;
		border: 1px solid #eee;
		text-align: center;
		margin: 15px 0px;
		padding: 10px;
		color: #252525;
		
		&:hover{
			background-color:#496d37;
			color:#fff;
			cursor: pointer;
		}

		&:hover .badge{
			color: #496d37;
			background-color: #fff;
		}

		.badge{
			position: absolute;
			top: 5px;
			right: 5px;
			background-color: #496d37;
		}
	}
}


/* =======================================================================
[ CUSTOMER EDIT ACCOUNTS ]
======================================================================== */

.user-edit-body{
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	font-family: 'Montserrat Light';

	h1{
		font-family: 'Montserrat Semi';
    	font-size: 31px;
	    text-transform: uppercase;
	}

	.customer-info{
		padding: 20px 10px;

		label{
			font-weight: lighter;

			&:hover{
				cursor:pointer;
			}
		}

		.textbox{
			width: 100%;
			padding: 5px 10px;
			border: 1px solid #c7c7c7;
		}

		textarea{
			width: 100%;
			border: 1px solid #c7c7c7;
		}

		select{
			border: 1px solid #c7c7c7;
			width: 100%;
			padding: 5px 10px;
		}

		.checkbox{
			width: 18px;
			height: 18px;
		}
	}

	button{
		padding: 5px 10px;
		border: 0;
		background-color:#496d37;
		color:#fff;

		&:hover{
			background-color: #3b582c;
		}
	}
}

/* =======================================================================
[ CUSTOMER CUSTOMER CREDITS ]
======================================================================== */

.customer-credits-body{
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	font-family: 'Montserrat Light';

	h1{
		font-family: 'Montserrat Semi';
    	font-size: 21px;
	    text-transform: uppercase;
	}
	button{
		padding: 5px 10px;
		border: 0;
		background-color:#496d37;
		color:#fff;

		&:hover{
			background-color: #3b582c;
		}
	}
}

/* =======================================================================
[ LISTING CONNECTIONS ]
======================================================================== */

.listing-connection-body{
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	font-family: 'Montserrat Light';

	h1{
		font-family: 'Montserrat Semi';
    	font-size: 31px;	   
	}
	p{
		padding: 5px 0px;
	}

	button{
		padding: 5px 10px;
		border: 0;
		background-color:#496d37;
		border: 1px solid #496d37;
		color:#fff;
		text-decoration: none;

		&:hover{
			background-color: #3b582c;
			text-decoration: none;
		}
	}

	.cancel-button{
		padding: 5px 10px;
		background-color:#fff;
		border: 1px solid #d4d4d4;
		color:#496d37;
		text-decoration: none;

		&:hover{
			background-color: #496d37;
			color: #fff;
			text-decoration: none;
		}
	}

}

/* =======================================================================
[ SUCCESSFUL CONNECT into a LISTING ]
======================================================================== */

.connection-body{
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	font-family: 'Montserrat Light';

	h1{
		font-family: 'Montserrat Semi';
    	font-size: 31px;	   
	}
}


/* =============================================================================
[ CUSTOMER LISTING NEW DOG && LISTING NEW LITTER && UPDATE CUSTOMERS LISTINGS ]
============================================================================== */

.user-listings-body{
	margin-bottom: 30px;
	background-color: #fff;
	padding: 20px 20px 40px 20px;
	font-family: 'Montserrat Light';

	h1{
		font-family: 'Montserrat Semi';
    	font-size: 31px;
	}
	
	.row{
		margin-top: 10px;
	}

	label{
		font-weight: lighter;
		float: right;

		&:hover{
			cursor:pointer;
		}
	}
	
	.datepicker{
		width: 90%;
		padding: 5px 10px;
		border: 1px solid #c7c7c7;
		border-radius: 0;
	}

	.textbox{
		width: 90%;
		padding: 5px 10px;
		border: 1px solid #c7c7c7;
	}

	textarea{
		width: 90%;
		border: 1px solid #c7c7c7;
	}

	select{
		width: 90%;
		padding: 5px 10px;
		border: 1px solid #c7c7c7;
	}

	.user-pedigree{
		width: 18px;
		height: 18px;
	}

	.user-published{
		width: 18px;
		height: 18px;
	}

	.user-picture{
		
		.image-listing-show{
			img{
				height: auto;
				width: 250px;
			}

			.checkbox{
				float: left;
			}
		}

		/* =========================================
		[ JFILESTYLE ]
		=========================================== */

		div.jfilestyle.jfilestyle-corner input:first-child, div.jfilestyle.jfilestyle-corner span:first-child>label{
			border-radius: 0;
			background-color: #fff;
			border: 1px solid #c7c7c7;
		}

		div.jfilestyle.jfilestyle-corner input:last-child, div.jfilestyle.jfilestyle-corner span:last-child>label{
			border-radius: 0;
			background-color: #f5f5f5;
    		border: 1px solid #c7c7c7;
    		color: #252525;

    		&:hover{
    			background-color: #496d37;
    			color: #fff;
    		}
		}
	}
	
	.highlighted-listing{
		width: 250px;
	}
	
	.featured-listing{
		width: 250px;
	}

	button{
		margin-top: 20px;
		padding: 5px 10px;
		border: 0;
		background-color:#496d37;
		color:#fff;

		&:hover{
			background-color: #3b582c;
		}
	}
}


/* =======================================================================
[ CUSTOMER SIDEBAR ACCOUNTS ]
======================================================================== */
.customer-backend-sidebar{
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	font-family: 'Montserrat Light';

	a{
		padding: 5px 10px;
		background-color: #fff;
		border:1px solid #d4d4d4;
		text-decoration: none;
		display: inline-block;

		&:hover{
			text-decoration: none;
			background-color:#496d37;
			color:#fff;
		}
	}
}

.customer-backend-sidebar-frontend{
	margin: 30px 0px;
	padding: 20px;
	background-color: #fff;
	font-family: 'Montserrat Light';
	text-align: center;

	a{
		display: block;
		padding: 6px;
		margin: 5px 0px;
		background-color: #fff;
		border:1px solid #d4d4d4;
		text-decoration: none;

		&:hover{
			text-decoration: none;
			background-color:#496d37;
			color:#fff;
		}
	}

}


/* =======================================================================
[ YOURS LISTINGS ]
======================================================================== */
.listing-yours-container{
	
	h1{
		font-family: 'Montserrat Semi';
    	font-size: 31px;
	}

	h4{
		color: #000;
		font-family: 'Montserrat Semi';
	}
	
	.date-memorial{
		text-align: center;

		label{
			padding-right: 10px;
			cursor: pointer;
		}

		input{
			border: 1px solid #cecece;
		}
	}

	.listing-container{
		position: relative;
		border: 1px solid #c0c0c0;
		margin: 20px 0px;
		padding: 20px;
		
		.listing-banner{
			position: absolute;
		    width: auto;
		    height: auto;
		    right: -7px;
		    top: -22px;
		    z-index: 2;
		}

		.listing-all-banner{
			position: absolute;
		    width: auto;
		    height: auto;
		    right: -11px;
		    top: -26px;
		    z-index: 2;
		}

		h3{
			font-size: 20px;
			font-family: 'Montserrat Semi';
			margin: 10px 0px;

			a{
				&:hover{
					color: #395928;
					text-decoration: underline;
				}
			}
		}

		a{
			&:hover{
				color: #395928;
				text-decoration: underline;
			}
		}

		.listing-contents{
			padding-top: 10px;
		}

		img{
			height: auto;
			width: 100%;
			padding-top: 13px;
		}
		
		b{
			font-family: 'Montserrat Semi';
		}
		
		button{
			border-radius: 0;
		}
		
		a{
			border-radius: 0;
			color: #333;

			&:hover{
				text-decoration: none;
			}
		}

		.btn-success{
			color: #fff;
			background-color: #496d37;

			&:hover{
				color: #fff;
				background-color: #3b582c;
			}
		}

		.listing-description{
			padding-top: 20px;
		}

		&:hover{
			border: 1px solid #999;
			border-left: 11px solid #999999;
			padding-left: 10px;
			background-color: #f6f6f6;
		}

		.listing-background{
			background-position: top;
			background-size: cover;
			height: 350px;
		}
	}

	.featured-and-highlighted{
		border: 1px solid #c9d8c2;
		border-left: 11px solid #689c4d;
		padding-left: 10px;
		background-color: #eff5eb;

		&:hover{
			border: 1px solid #395928;
			border-left: 11px solid #395928;
			padding-left: 10px;
			background-color: #e2f5d6;
		}
	}

	.highlighted{
		border: 1px solid #c9d8c2;
		border-left: 11px solid #689c4d;
		padding-left: 10px;
		background-color: #eff5eb;

		&:hover{
			border: 1px solid #395928;
			border-left: 11px solid #395928;
			padding-left: 10px;
			background-color: #e2f5d6;
		}
	}

	.ultimate-listing{
		border: 1px solid #b5cad4;
		border-left: 11px solid #47a6cf;
		padding-left: 10px;
		background-color: #e0f5fe;

		&:hover{
			border: 1px solid #2e8eb7;
			border-left: 11px solid #0973a0;
			padding-left: 10px;
			background-color: #b4e9ff;
		}
	}

}


/* ===========================================================================================
[ ====== RESPONSIVE ======================================================================== ]
=========================================================================================== */
@media only screen and (max-width: 1199px){
	
}

@media only screen and (max-width: 991px){
	.user-listings-body{
		label{
			float: none;
		}
	}
}

@media only screen and (max-width: 767px){

	.dog-fold-container{
		.home-dog-fold{
			img{
				display: none;
			}
			.dog-fold-contents{
				padding: 15px;
			}
		}
	}

	.page-listing-container{
		.header-container{
			.page-listing-header{
				select{
					width: 100%;
				}

				input{
					width: 100%;
				}

				button{
					width: 100%;
					margin: 5px 0px;
				}
			}
		}

		.text-right{
			text-align: left;
		}
	}

}

@media only screen and (max-width: 600px){
	.homepage-body .featured-grid .featured-dogs .homepage-featured {
		height: 60px;
	}

	.customer-backend-sidebar a {
	    padding: 6px;
	    margin: 5px 0;
	  	width: 100%;
	  	text-align: center;
	}

	.user-listings-body {
		.user-picture{
			.upload_images{
				width: 100%;
			}
		}
	}

	.listing-container{	
		.listing-banner{
			position: absolute;
		    width: 100px;
		    height: auto;
		    right: -7px;
		    top: -19px;
		    z-index: 2;
		}

		.listing-all-banner{
			position: absolute;
		    width: 100px;
		    height: auto;
		    right: -6px;
		    top: -21px;
		    z-index: 2;
		}
	}

	.breeds-container .breeds-select select {
		margin-left: 0px;
	}

	.contactus-container {
		.contactus-body-container {
			.contactus-body {
				img {
					display: none;
				}
			}

			.form-group {
				button{
					width: 100%;
				}
			}
		}
	}

	.join-container {
		.join-body {
			.dog-join{
				display: none;
			}

			button{
				width: 100%;
			}
		}
	}
}


@media only screen and (max-width: 382px){
	
	.customer-credits-body{
		button{
			width: 100%;
			margin: 5px 0px;
		}
	} 

	.listing-container{
		.listing-contents{
			.listing-bottons{
				a{
					width: 100%;
					margin: 3px 0px;
				}

				button{
					width: 100%;
					margin: 3px 0px;
				}
			}
		}
	}
}


@media only screen and (max-width: 350px){
	
	.home-first-fold-container{
		.first-fold-contents{
			h1{
				font-size: 21px;
			}
			p{
				font-size: 14px;
			}
		}
	} 
}

